<%- include('template/header'); %>
  <h1>Categorias</h1>
  <form action="/categoria-salvar" method="POST">
    <label>Chave:</label><br>
    <input type="text" id="chave" name="chave" required><br>
    <label>Valor:</label><br>
    <input type="text" id="valor" name="valor" required><br><br>
    <button type="submit">Salvar</button>
  </form>

    <br><br>
    <%- include('categoria/tableCategory'); %>
    <br><br>

    <!-- <table border>
      <thead>
        <tr>
          <th>
            Chave
          </th>
          <th>
            Valor
          </th>
          <th>
            Deletar
          </th>
        </tr>
      </thead>
      <tbody>
        <% if(categoria.length> 0) { %>
          <% categoria.forEach(cat=> { %>
            <tr>
              <td>
                <%= cat.chave %>
              </td>
              <td>
                <%= cat.valor %>
              </td>
              <td>
                <p><a href="/categoria-deletar/<%= cat.chave %>/ ">Excluir</a></p>
                <p><a onclick="document.getElementById('id01').style.display='block'" class="w3-button">Excluir</a></p>
              </td>
            </tr>
            <% }) %>
              <% } else { %>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <% } %>
      </tbody>
    </table> -->

    <p style="background-color: aquamarine;"><a href="/home">Inicio</a></p>
    <%- include('template/footer'); %>