<%- include('template/header'); %>
  <h1>Produtos</h1>
  <a href="/produto-novo"><button>Cadastrar Produto</button></a>
  <br><br>
  <table border>
    <thead>
      <tr>
        <th>ID</th>
        <th>Categoria</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
        <% produto.forEach(product=> { %>
          <tr>
            <td>
              <%= product.id %>
            </td>
            <td>
              <%= product.dados %>
            </td>
            <td>
              <%= product.nome %>
            </td>
            <td>
              <%= product.descricao %>
            </td>
            <td>
              <%= product.preco %>
            </td>
            <td>
              <p><a href="/produto-editar/<%= product.id %>">Editar</a></p>
            </td>
          </tr>
          <% }) %>
    </tbody>
  </table>

  <p style="background-color: antiquewhite;"><a href="/home">Inicio</a></p>
  <%- include('template/footer'); %>