<%- include('template/header'); %>
  <h1>Produtos</h1>
  <a href="/produto-novo"><button>Cadastrar Produto</button></a>
  <br><br>
  <label>ID:</label>
<input type="text" readonly id="id" name="id" value="<%= editProduto.id %>"><br>
  <label>Nome:</label> 
  <input type="text" readonly id="nome" name="nome" value="<%= editProduto.nome %>"><br>
  <label>Categoria:</label>
  <input type="text" readonly id="id" name="id" value="<%= editProduto.dados %>"><br>
  <label>Descrição:</label><br>
  <textarea type="textarea" readonly id="descricao" name="descricao"><%= editProduto.descricao %></textarea><br>
  <label>Preço:</label>
  <input type="text" readonly id="preco" name="preco" value="<%= editProduto.preco %>"><br><br>

  <table border>
    <thead>
      <tr>
        <th>ID</th>
        <th>Categoria</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <% produto.forEach(product=> { %>
      <tr>
        <td><a href="/produto-listar/<%= product.id %>"><%= product.id %></a></td>
        <td><%= product.dados %></td>
        <td><%= product.nome %></td>
        <td><%= product.descricao %></td>
        <td><%= product.preco %></td>
        <td>
          <p><a href="/produto-editar/<%= product.id %>">Editar</a></p>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <p style="background-color: antiquewhite;"><a href="/home">Inicio</a></p>
  <%- include('template/footer'); %>